.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.hero-section .content {
  position: relative;
  z-index: 2;
}
